<div id="<%= dom_id transporteur %>">
  <p>
    <strong>Nom:</strong>
    <%= transporteur.nom %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= transporteur.telephone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= transporteur.email %>
  </p>

</div>
