<% content_for :title, "Editing transporteur" %>

<h1>Editing transporteur</h1>

<%= render "form", transporteur: @transporteur %>

<br>

<div>
  <%= link_to "Show this transporteur", @transporteur %> |
  <%= link_to "Back to transporteurs", transporteurs_path %>
</div>
