<% content_for :title, "New transporteur" %>

<h1>New transporteur</h1>

<%= render "form", transporteur: @transporteur %>

<br>

<div>
  <%= link_to "Back to transporteurs", transporteurs_path %>
</div>
