<% content_for :title, "New info commande" %>

<h1>New info commande</h1>

<%= render "form", info_commande: @info_commande %>

<br>

<div>
  <%= link_to "Back to info commandes", info_commandes_path %>
</div>
